.wrapper {
  padding: 40px 80px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 10px;

  h2 {
    display: flex;
    color: var(--dark-grey);
    font-size: var(--size-32px);
    font-weight: 700;
  }

  p {
    color: var(--dark-grey);
    font-size: var(--size-24px);
    font-weight: 500;
  }
}

.peach {
  background-color: #ffded2;
}

.blue {
  background-color: #4a9aeb;
}

.white {
  background-color: #fff;
}

.childrenContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
  justify-content: space-between;
  gap: 30px;

  @media screen and (max-width: 1028px) {
    align-content: center;
    justify-content: center;
    align-items: center;
  }
}