.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  width: 100%;
  gap: 20px;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  padding: 3% 1%;
  background: white;
  border-radius: 10px;
    border: 1px solid var(--light-grey);
}

.icon {
  display: flex;
  color: #078a86;
  align-items: center;
  justify-content: center;
  width: fit-content;
  font-size: var(--size-25px);
  font-weight: 400;
}

.title {
  display: flex;
  font-size: var(--size-20px);
  font-weight: 300;
}