.wrapper {
  display: flex;
  flex-direction: column;
  padding: 5% 0;
}

.inner {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.filterButtons{
  display: flex;
  gap: 15px;
}


.titles {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 0 0 15px 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.propertiesContent {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}