@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@100..800&family=Arimo:ital,wght@0,400..700;1,400..700&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
  --dark-grey: #333333;
  --grey: #737b7d;
  --light-grey: rgba(209, 209, 209, 0.42);
  --red: #E31E24;
  --size-1px: 0.0625rem;
  --size-2px: 0.125rem;
  --size-3px: 0.1875rem;
  --size-4px: 0.25rem;
  --size-5px: 0.3125rem;
  --size-6px: 0.375rem;
  --size-7px: 0.4375rem;
  --size-8px: 0.5rem;
  --size-9px: 0.5625rem;
  --size-10px: 0.625rem;
  --size-11px: 0.6875rem;
  --size-12px: 0.75rem;
  --size-13px: 0.8125rem;
  --size-14px: 0.875rem;
  --size-15px: 0.9375rem;
  --size-16px: 1rem;
  --size-17px: 1.0625rem;
  --size-18px: 1.125rem;
  --size-19px: 1.1875rem;
  --size-20px: 1.25rem;
  --size-21px: 1.3125rem;
  --size-22px: 1.375rem;
  --size-23px: 1.4375rem;
  --size-24px: 1.5rem;
  --size-25px: 1.5625rem;
  --size-26px: 1.625rem;
  --size-27px: 1.6875rem;
  --size-28px: 1.75rem;
  --size-29px: 1.8125rem;
  --size-30px: 1.875rem;
  --size-31px: 1.9375rem;
  --size-32px: 2rem;
  --size-33px: 2.0625rem;
  --size-34px: 2.125rem;
  --size-35px: 2.1875rem;
  --size-36px: 2.25rem;
  --size-37px: 2.3125rem;
  --size-38px: 2.375rem;
  --size-39px: 2.4375rem;
  --size-40px: 2.5rem;
  --size-41px: 2.5625rem;
  --size-42px: 2.625rem;
  --size-43px: 2.6875rem;
  --size-44px: 2.75rem;
  --size-45px: 2.8125rem;
  --size-46px: 2.875rem;
  --size-47px: 2.9375rem;
  --size-48px: 3rem;
  --size-49px: 3.0625rem;
  --size-50px: 3.125rem;
  --size-51px: 3.1875rem;
  --size-52px: 3.25rem;
  --size-53px: 3.3125rem;
  --size-54px: 3.375rem;
  --size-55px: 3.4375rem;
  --size-56px: 3.5rem;
  --size-57px: 3.5625rem;
  --size-58px: 3.625rem;
  --size-59px: 3.6875rem;
  --size-60px: 3.75rem;
  --size-61px: 3.8125rem;
  --size-62px: 3.875rem;
  --size-63px: 3.9375rem;
  --size-64px: 4rem;
  --size-65px: 4.0625rem;
  --size-66px: 4.125rem;
  --size-67px: 4.1875rem;
  --size-68px: 4.25rem;
  --size-69px: 4.3125rem;
  --size-70px: 4.375rem;
  --size-71px: 4.4375rem;
  --size-72px: 4.5rem;
  --size-73px: 4.5625rem;
  --size-74px: 4.625rem;
  --size-75px: 4.6875rem;
  --size-76px: 4.75rem;
  --size-77px: 4.8125rem;
  --size-78px: 4.875rem;
  --size-79px: 4.9375rem;
  --size-80px: 5rem;
  --size-81px: 5.0625rem;
  --size-82px: 5.125rem;
  --size-83px: 5.1875rem;
  --size-84px: 5.25rem;
  --size-85px: 5.3125rem;
  --size-86px: 5.375rem;
  --size-87px: 5.4375rem;
  --size-88px: 5.5rem;
  --size-89px: 5.5625rem;
  --size-90px: 5.625rem;
  --size-91px: 5.6875rem;
  --size-92px: 5.75rem;
  --size-93px: 5.8125rem;
  --size-94px: 5.875rem;
  --size-95px: 5.9375rem;
  --size-96px: 6rem;
  --size-97px: 6.0625rem;
  --size-98px: 6.125rem;
  --size-99px: 6.1875rem;
  --size-100px: 6.25rem;
}

body {
  background: var(--background);
}

* {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

