.wrapper {
  display: flex;
  padding: 10% 0;
  flex-direction: column;
  width: 100%;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.inner {
  display: flex;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  border: 1px solid var(--light-grey);
  border-radius: 25px;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.leftSide {
  display: flex;
  width: 50%;
  padding: 3%;
  flex-direction: column;
  gap: 20px;

  h3 {
    font-size: 2.5rem;
    font-weight: 400;
    color: var(--dark-grey);
    margin: 0;
  }

  p {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--dark-grey);
    margin: 0;
  }
}


.rightSide {
  display: flex;
  width: 50%;
  height: auto;
  flex-direction: column;
  border-radius: 0 25px 25px 0;
}

.video {
  display: flex;
  border-radius: 0 25px 25px 0;
}