.wrapper {
  display: flex;
  height: 100dvh;
}

.sidebar{
  width: 30%;
  display: flex;
  flex-direction: column;
  background: violet;
}

.content{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  background: black;
}