.form {
  display: flex;
  flex-direction: column;
  background: white;
  gap: 30px;
  padding: 30px;
  align-content: center;
  margin: 0 auto;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  justify-items: center;
  max-width: 602px;
  width: 100%;
  text-align: center;
  

  h1{
    color: var(--dark-grey);
  }

  p{

    a{
      color: var(--cyan-dark);
      text-decoration: underline;
      font-weight: bold;
    }
  }

  @media screen and (max-width: 1028px) {
    width: 90%;
  }
}

.link{
  display: flex;
  width: 100%;
  text-decoration: none;
}

.separator {
  display: flex;
  align-items: center;
  width: 100%;
}

.separator hr {
  flex: 1;
  border: none;
  border-top: 1px solid #ccc;
}

.separator span {
  margin: 0 10px;
}

.grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);

  @media screen and (max-width: 1028px) {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
}

.inputDiv {
  display: flex;
  flex-direction: column;
  gap: 5px;
}