.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  object-fit: cover;
  width: 100%;
  height: 85dvh;
  background: url("../../assets/images/buildeo-bg.svg") no-repeat center center;
  background-size: cover;
}

.wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3); /* Adjust the opacity as needed */
  z-index: 1;
}

.section {
  position: relative;
  z-index: 2;
  display: flex;
  width: 100%;
  padding: 20px;
  height: 100%;
  align-content: center;
  justify-items: center;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: column;

  h1 {
    font-size: var(--size-40px);
    font-weight: 700;
    color: white;

    @media screen and (max-width: 1028px) {
      text-align: center;
      align-content: center;
      font-size: var(--size-30px);
    }
  }
}