.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 550px;
  
  @media screen and (max-width: 768px) {
    width: 90%;
    max-width: 100%;
    margin: 0 auto;
  }
}

.mainImage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 550px;
  object-fit: cover;
  cursor: pointer;
  background: var(--light-grey);
  border-radius: 20px;
  border: 2px solid;
  transition: ease-in-out 0.3s all;

  &:hover {
    border: 2px solid var(--blue);
  }

  @media screen and (max-width: 1028px) {
    max-width: 400px;
    width: 100%;
    height: auto;
  }
}

.expandedImage{
  display: flex;
  border-radius: 20px;
  max-width: 1000px;
  width: 100%;

  @media screen and (max-width: 768px) {
    width: 100%;
    height: auto;
  }
}

.thumbnails {
  display: flex;
  gap: 10px;

  @media screen and (max-width: 768px) {
    overflow: auto;
    overflow-y: hidden;
  }
}

.thumbnail {
  display: flex;
  border-radius: 10px;
  object-fit: cover;
  border: 2px solid transparent;
  cursor: pointer;
  transition: 0.3s ease-in-out all;

  &:hover {
    border: 2px solid var(--blue);
  }

  @media screen and (max-width: 476px) {
    width: 60px;
    height: auto;
  }
}

.selectedThumbnail {
  display: flex;
  border-radius: 10px;
  object-fit: cover;
  cursor: pointer;
  transition: 0.3s ease-in-out all;
  border: 2px solid var(--blue);

  @media screen and (max-width: 476px) {
    width: 60px;
    height: auto;
  }
}

.navigation {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-content: center;
  justify-items: center;
  align-items: center;

}