.wrapper {
  display: flex;
  flex-direction: column;
  padding: 40px;
  gap: 60px;

  h3 {
    color: var(--dark-grey);
  }
}

.inner {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  justify-content: space-evenly;
}