.header {
  display: flex;
  width: 100%;
  padding: 20px 90px;
  justify-content: space-between;
  z-index: 99;
  align-content: center;
  justify-items: center;
  align-items: center;
  background: white;
  top: 0;
  position: sticky;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: var(--dark-grey);

  @media screen and (max-width: 1028px) {
    padding: 30px;
  }
}

.drawerContent {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 30px;
}

.burger {
  display: none;

  @media screen and (max-width: 1028px) {
    display: flex;
  }
}

.link{
    text-decoration: none;
    color: var(--dark-grey);
}

.searchbar{
  display: flex;

  @media screen and (max-width: 1028px) {
    display: none;
  }
}

.logo{
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.nav {
  display: flex;
  gap: 20px;
  align-items: center;

  @media screen and (max-width: 1028px) {
    display: none;
  }
}